[
 {elvis,
  [{config,
    [#{dirs => ["apps/*/src_ignore"],
       filter => "*.erl",
       ignore => [tl_parser],
       rules => [{elvis_style, line_length,
                  #{ignore => [tl_parser],
                    limit => 80,
                    skip_comments => false}},
                 {elvis_style, no_tabs},
                 {elvis_style, no_trailing_whitespace},
                 {elvis_style, macro_names,
                  #{ignore => [sniffle_snmp_handler]}},
                 %% We disable this since it's used in the consoles a lot
                 %% and makes sense there, I think...
                 %% {elvis_style, macro_module_names},
                 {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                            {right, "++"},
                                                            {left, "++"}]}},
                 {elvis_style, nesting_level, #{level => 3}},
                 {elvis_style, god_modules,
                  #{limit => 25,
                    ignore => [sniffle_vm, sniffle_vm_vnode,
                               sniffle_network, sniffle_network_vnode,
                               sniffle_iprange, sniffle_iprange_vnode,
                               sniffle_hypervisor, sniffle_hypervisor_vnode,
                               sniffle_dataset, sniffle_dataset_vnode,
                               sniffle_package, sniffle_package_vnode]}},
                 {elvis_style, no_if_expression},
                 {elvis_style, invalid_dynamic_call,
                  #{ignore => [%% We use VNode:OP to allow the read/write FSM
                               %% to handle any kind of command.
                               sniffle_entity_read_fsm,
                               sniffle_entity_write_fsm,
                               %% sniffle_vnode depends on calling functions on
                               %% ft_* types, we can't define them as
                               %% behaviour.
                               sniffle_vnode]}},
                 {elvis_style, used_ignored_variable},
                 {elvis_style, no_behavior_info},
                 {
                   elvis_style,
                   module_naming_convention,
                   #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$",
                     ignore => []}
                 },
                 {
                   elvis_style,
                   function_naming_convention,
                   #{regex => "^([a-z][a-z0-9]*_?)+([a-z0-9]*_?)*$"}
                 },
                 {elvis_style, state_record_and_type},
                 {elvis_style, no_spec_with_records},
                 {elvis_style, dont_repeat_yourself, #{min_complexity => 12}},
                 {elvis_style, no_debug_call,
                  #{ignore => [
                               %% This is a console, we are doing IO there not
                               %% any debug output.
                               sniffle_console,
                               sniffle_ensemble_console,
                               sniffle_console_vms,
                               sniffle_console_packages,
                               sniffle_console_networks,
                               sniffle_console_ipranges,
                               sniffle_console_hypervisors,
                               sniffle_console_dtrace,
                               sniffle_console_datasets
                              ]}}
                ]
      },
     #{dirs => ["."],
       filter => "Makefile",
       rules => [{elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
                 {elvis_project, protocol_for_deps_erlang_mk, #{ignore => []}}]
      },
     #{dirs => ["."],
       filter => "rebar.config",
       %% on the test branch master deps are OK
       rules => [%{elvis_project, no_deps_master_rebar, #{ignore => []}},
                 %%{elvis_project, protocol_for_deps_rebar, #{ignore => []}}
                ]
      },
     #{dirs => ["."],
       filter => "elvis.config",
       rules => [{elvis_project, old_configuration_format}]
      }
    ]
   }
  ]
 }
].
