{log_path,              "/data/tachyon/log"}.
{crash_dump,            "/data/tachyon/log/erlang.crashdump"}.
{db_path,               "/data/tachyon/db"}.
{platform_etc_dir,      "/data/tachyon/etc"}.

{node,                  "tachyon@127.0.0.1"}.
{cookie,                "tachyon"}.

{cuttlefish_conf,       "tachyon.conf"}.
{build_dir,             "{{output_dir}}/../.."}.

{service,               "tachyon"}.

{bugsnag_app,           "tachyon"}.
{bugsnag_app_version,   "0.9.2p1"}.
"version.config".
